/*---------------Flexbox-principal----------------*/
.Cont-Prin{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/*---------------------Global-------------------*/
ul {
  list-style-type: none;
}

article ul {
  list-style-type: square;
}

/*---------------------Aside-------------------*/
.aside{
  background-color: #647087;
  display: flex;
  flex-direction: column;
}

.aside *{
  color: white;
}

.aside h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.aside section h2:first-child{
  border-bottom: 2px solid white;
}

#profile-pic img {
  border-radius: 50px;
}

/*---------------------MAIN-------------------*/

.main section > h2{
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero {
  background-color: #F7DDC3;
  box-shadow: 3px 3px 30px 5px #647087 inset;
}

.hero h2{
  color: white;
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: none;
}

.about-me{
  background-color: #F7DDC3;
}

.about-me h2{
  background-color: white;
}

article h3,
article h4{
  font-weight: bold;
}

article ul{
    list-style-type: square;
}
