/*-------------------Layout---------------------*/
.Cont-Prin{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-space-between;
}

/*---------------------Global-------------------*/
ul {
  list-style-type: none;
}

/*---------------------Aside-------------------*/

.aside{
  background-color: #505050;
  display: flex;
  flex-direction: column;
  width 30%;
}

.aside *{
  color: white;
}

.aside h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid white;
}

.aside p{
  padding-left: 1.8em;
}

#profile-pic img {
  border-radius: 150px;
  width: 300px;
  height: auto;
  align-items: center;
}

.aside li{
  line-height: 2em;
}

meter{
  display: block;
  width: 80%;
}
meter::-webkit-meter-optimum-value{
  background: none;
  background-color: #00C0D4;
}

meter::-webkit-meter-bar{
  background: none;
  background-color: #9ED7D8;
}

/*---------------------ICON-------------------*/
.fb::before{
  content: "\f02d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.social-itemfb::before{
  padding-right: 15px;
}

/*---------------------MAIN-------------------*/
.main{
  display: flex;
  flex-direction: column;
  flex-basis: 25;
}

.main section > h2{
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero {
  background-color: #505050;
  box-shadow: 20px 20px 30px 5px #424242 inset;
  padding: 15% 0;
  text-align: center;
}

.hero h2{
  color: white;
  border-top: 2px solid white;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.hero h1{
  letter-spacing: 15px;
  text-transform: uppercase;
}

.about-me p{
  background-color: #F7DDC3;
  line-height: 1.5em;
  padding: 5px;
}

.about-me h2{
  background-color: white;
}

.referencias{
  display: flex;
  flex-wrap: wrap;
}

.referencias article{
  width: 50%;
  text-align: center;
}
